li {
    background-color: black;
    color: green;
    width: 37%;
    padding-left: 8px;
}

button {
    font-size: 11px;
    margin-left: 10px;
    border-radius: 60px;
    border-color: rgba(5, 100, 21, 0.459);    
}

button:hover {
    background-color: green;
    transform: scale(1.1);
}
